RANDFILE               = $ENV::HOME/.rnd

 [ req ]
 default_bits           = 4096
 default_keyfile        = keyfile.pem
 distinguished_name     = req_distinguished_name
 attributes             = req_attributes
 prompt                 = no
 output_password        = mypass

 [ req_distinguished_name ]
 C                      = BR
 ST                     = Estado Teste
 L                      = Localidade Teste
 O                      = Nome da Organizacao
 OU                     = Nome da Unidade Organizacional
 CN                     = Nome comum
 emailAddress           = test@email.address

 [ req_attributes ]
 challengePassword              = mypass
 